{% if clients %}
    <section id="clients" class="clients t__section">
        <div class="t__container">
            <h2 class="t__typedivider">Clients</h2>
            <p>I've had the opportunity to work with clients such as:</p>
            <ol class="t__inline">
                {% for client in clients %}
                    <li class="t__inline__item t__inline__item--2">
                        <a class="t__hover t__hover--2" href="{{ client.url }}" rel="me noopener noreferrer nofollow" target="_blank" title="{{ client.title }}">
                            {% include 'clients/' + client.title | slug + '.svg' %}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </section>
{% endif %}
