<div id="contact" class="contact t__section">
    <div class="t__container">
        <h2 class="contact__title{% if layout != "layouts/base" %} h3{% endif %}">Get in touch</h2>
        <p>Whether you are interested in the future of Embedded Development, Design Systems, or just want to say hello. I am proficient in English, Italian, Ukrainian, and Russian and always open to a conversation.</p>
        <a class="button t__hover t__hover--1" href="mailto:{{ site.mail }}" title="Write me an e-mail">E-mail</a>
        <a class="button button--secondary t__hover t__hover--1" href="https://linkedin.com/in/horoman/" rel="me noopener noreferrer nofollow"  target="_blank" title="Open my LinkedIn profile">LinkedIn</a>
    </div>
</div>
