<footer id="footer" class="footer">
    <div class="t__container">
        <h2 class="footer__title h4 t__typedivider">Find me on the internet</h2>
        {% if social %}
        <ul class="footer__social t__inline">
            {% for link in social %}
                <li class="footer__social__item t__inline__item t__inline__item--1">
                    <a class="footer__social__link t__hover t__hover--1" href="{{ link.link }}" rel="me noopener noreferrer nofollow" target="_blank" title="{{ link.title }}">
                        {% include 'social/' + link.title | slug + '.svg' %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <p>© {{ site.startingYear }}–{% year %} {{ site.author }}. All rights reserved, including those of their respective owners. <a href="#top">Back to top ↑</a></p>
    </div>
</footer>
