<header id="intro" class="t__section intro">
    <div class="t__container">
        {% if layout == 'layouts/base' %}
            <figure class="intro__avatar">
                {% include 'components/avatar.njk' %}
                <div class="intro__avatar__ascii">
                    {% include 'assets/ascii.svg' %}
                </div>
            </figure>
        {% endif %}
        <h1 class="intro__logo">
            <a href="/">
                <span class="t__vh">{{ site.author }}</span>
                {% include 'assets/logo.svg' %}
            </a>
        </h1>
        <nav class="intro__nav">
            <ul>
                <li><a href="/"{% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
                <li>
                    <a href="/#works">Case studies</a>
                    <span>&</span>
                    <a href="/projects/"{% if page.url == '/projects/' %}class="active"{% endif %}>Projects</a>
                </li>
                <li><a href="/about/"{% if page.url == '/about/' %}class="active"{% endif %}>About me</a></li>
                <li><a href="#contact">Get in touch</a></li>
            </ul>
        </nav>
        {% if page.url == '/' %}
            <p class="intro__text">I am a Staff Product Designer at Analog Devices, where I shape the digital tools that power the physical world. With over {% experienceYears %} of experience, I bridge the gap between sophisticated hardware and intuitive user experience, transforming how engineers and enterprises interact with technology.</p>
        {% endif %}
    </div>
</header>
