{% if page.url == '/projects/' or type == 'work' %}
    <script src="{{ '/js/fancybox.js' | url }}?v={{ site.version }}" defer></script>
{% endif %}

{% if type == 'work' %}
    <script src="{{ '/js/carousel.js' | url }}?v={{ site.version }}" defer></script>
{% endif %}

<script src="{{ '/js/main.js' | url }}?v={{ site.version }}" defer></script>
