@use "vars"

html, body
    -webkit-tap-highlight-color: rgba(0,0,0,0)

html
    block-size: 100vh
    scroll-behavior: smooth
    scroll-padding-top: var(--size-l)
    -webkit-text-size-adjust: 100%
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    box-sizing: border-box
    -ms-overflow-style: -ms-autohiding-scrollbar
    text-rendering: optimizeLegibility
    background-color: var(--color-background)
    &::-webkit-scrollbar
        @media (width >= vars.$media-small)
            width: 0.5rem

    &::-webkit-scrollbar-thumb
        @media (width >= vars.$media-small)
            background: var(--color-secondary)

    &::-webkit-scrollbar-track
        @media (width >= vars.$media-small)
            background: var(--color-neutral-4)
    @media (width >= vars.$media-small)
        scroll-padding-top: var(--size-xl)

body
    margin: 0
    min-block-size: 100vh
    overflow-x: hidden
    font-family: var(--type-family-1a)
    line-height: var(--type-height-1)
    font-feature-settings: "kern" on, "liga" on
    font-size: 1.125em
    color: var(--color-primary)
    word-wrap: break-word
    overflow-wrap: break-word
    @media (width >= vars.$media-small)
        font-size: 1.125em
    @media (width >= vars.$media-medium)
        font-size: 1.25em
    @media (width >= vars.$media-large)
        font-size: 1.375em

main
    display: block

hr
    box-sizing: content-box
    height: 0
    overflow: visible
    margin: var(--size-m) 0
    border: none
    border-top: 1px solid var(--color-neutral-3)

abbr
    border-bottom: 1px dotted
    &:hover
        cursor: help

footer
    clear: both
    padding-top: var(--size-m)
    padding-bottom: var(--size-m)

// Text-level semantics

a
    color: var(--color-primary)
    background-color: transparent
    text-decoration: none

:focus-visible
    outline-color: var(--color-secondary)
    outline-style: solid
    outline-width: 4px
    outline-offset: 4px

#work-content, p, .link-style
    a
        color: var(--color-secondary)
        text-decoration: underline
        text-decoration-thickness: max(1px, .0625rem)
        text-underline-offset: .1em
        @media (prefers-color-scheme: light)
            text-decoration-color: var(--color-tertiary)
        &:focus-visible, &:hover
            text-decoration-thickness: max(3px, .1875rem, .12em)
            text-decoration-skip-ink: none
            text-decoration-skip: none
mark
    position: relative
    padding: 0.0625em 0.25em
    background-color: var(--color-tertiary)
    border-radius: var(--radius-1)

b, strong
    font-family: var(--type-family-1b)
    font-weight: normal

small
    font-size: 80%

cite
    font-style: normal

ul
    list-style: square

dl
    margin: 0

dd
    margin-left: 0

// Headings

h1, h2, h3, h4, h5, h6
    font-family: var(--type-family-2)
    font-weight: normal
    line-height: var(--type-height-2)
    margin-bottom: 0
    margin-top: 1.5em

h1, .h1
    font-size: 3em
h2, .h2
    font-size: 2.25em
h3, .h3
    font-size: 1.75em
h4, .h4
    font-size: 1.5em
h5, .h5
    font-size: 1.25em
h6, .h6
    font-size: 1.125em

// Embedded

svg
    fill: var(--color-secondary)

img
    block-size: auto
    display: block
    page-break-inside: avoid
    border-style: none

video
    display: block
    height: auto

// Media

figure
    margin: var(--size-xl) 0
    &.large
        margin-left: calc(var(--size-s) * -1)
        margin-right: calc(var(--size-s) * -1)
        @media (width >= vars.$media-small)
            margin-left: calc(var(--size-m) * -1)
            margin-right: calc(var(--size-m) * -1)
        @media (width >= vars.$media-medium)
            margin-left: -9rem
            margin-right: -9rem
        @media (width >= vars.$media-large)
            margin-left: -17rem
            margin-right: -17rem
    &.full
        margin-left: calc(var(--size-s) * -1)
        margin-right: calc(var(--size-s) * -1)
        @media (width >= vars.$media-small)
            margin-left: calc(var(--size-m) * -1)
            margin-right: calc(var(--size-m) * -1)
        @media (width >= vars.$media-medium)
            margin-left: -9rem
            margin-right: -9rem
        @media (width >= vars.$media-large)
            position: relative
            left: 50%
            right: 50%
            width: 100vw
            margin-left: -50vw
            margin-right: -50vw
            img
                border-radius: 0

    img, video
        width: 100%
        @media (width >= vars.$media-small)
            border-radius: var(--radius-1)

    figcaption
        font-size: 0.75em
        margin-top: var(--size-s)

// Forms

button, input
    font-family: inherit
    font-size: 100%
    line-height: var(--type-height-2)
    margin: 0

button, input
    overflow: visible

button
    text-transform: none
    -webkit-appearance: button
    &:hover
        cursor: pointer

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner
    border-style: none
    padding: 0

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring
    outline: 1px dotted ButtonText

iframe
    width: 100%
    height: 100%
