@use "mixins"
@use "vars"

.t

    &__vh
        block-size: 1px
        border: 0
        clip: rect(0 0 0 0)
        inline-size: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute

    &__typedivider
        display: flex
        width: 100%
        justify-content: center
        align-items: center
        &:after
            content: ''
            border-top: 1px solid var(--color-neutral-3)
            margin: 0 0 0 var(--size-s)
            flex: 1 0 var(--size-s)

    &__hover
        transition: all .3s cubic-bezier(0, 0, .5, 1)
        &--1
            backface-visibility: hidden
            -webkit-font-smoothing: subpixel-antialiased
            &:hover
                -webkit-filter: brightness(110%)
                filter: brightness(110%)
                transform: scale(1.05)
                @include mixins.mq-large
                    transform: scale(1.1)
                @media (prefers-color-scheme: dark)
                    -webkit-filter: brightness(112%)
                    filter: brightness(112%)
        &--2
            transition: transform .3s cubic-bezier(0, 0, .5, 1)
            &:hover
                transform: scale3d(1.03, 1.03, 1.03)

    &__container
        max-width: var(--container-size)
        margin-inline: auto
        padding-inline: var(--size-s)
        box-sizing: border-box
        @include mixins.mq-small
            padding-inline: var(--size-m)
        @include mixins.mq-large
            padding-inline: var(--size-l)

    &__section + *
        clear: both
        margin-top: var(--size-xl)
        @include mixins.mq-large
            margin-top: var(--size-xxl)

    &__grid
        list-style: none
        margin: 0
        &--works
            @include mixins.mq-small-down
                padding-inline: 1em
            @include mixins.mq-small
                display: grid
                grid-template-columns: repeat(2, 1fr)
                grid-gap: var(--size-l)
                padding-inline: var(--size-l)
            @include mixins.mq-large
                grid-template-columns: repeat(4, 1fr)
        &--pagination
            padding-left: 0
            @include mixins.mq-small
                display: grid
                grid-template-columns: repeat(2, 1fr)
                grid-gap: var(--size-l)
        &--bits
            padding-left: 0
            display: flex
            flex-direction: column
            grid-gap: var(--size-s)
            @include mixins.mq-small
                grid-gap: var(--size-m)
            @include mixins.mq-medium
                grid-gap: var(--size-l)
            @include mixins.mq-large
                grid-gap: var(--size-xl)
        &__item
            @include mixins.mq-small
                display: flex

    &__card
        position: relative
        display: flex
        flex-direction: column
        width: 100%
        .t__grid--works &
            @include mixins.mq-small-down
                margin-bottom: var(--size-m)
        &--interactive
            &:hover
                img
                    box-shadow: var(--shadow-2)
                    border-color: var(--color-neutral-3)
        &--bits
            border-radius: var(--radius-1)
            padding-top: var(--size-s)
            background-color: var(--color-neutral-4)
            border: 1px solid var(--color-neutral-4)
        &__image
            order: -1
            @include mixins.mq-small
                display: flex
                flex-direction: column
                justify-content: end
                .t__grid--works &
                    aspect-ratio: 1 / 1
            img
                transition: box-shadow 150ms ease-in
                border-radius: var(--radius-1)
                overflow: hidden
                width: 100%
                height: auto
                box-shadow: var(--shadow-1)
                @media print
                    box-shadow: none
        &__carousel
            order: -1
            margin-block: 0
            display: flex
            @include mixins.mq-medium
                padding-inline: var(--size-s)
                position: relative
                left: 50%
                right: 50%
                width: 100vw
                margin-left: -50vw
                margin-right: -50vw
                box-sizing: border-box
            &__scroll
                display: flex
                gap: var(--size-s)
                @include mixins.mq-medium-down
                    padding-inline: var(--size-s)
                    overflow-y: hidden
                    overflow-x: scroll
            .t__card__image
                img
                    @include mixins.mq-medium-down
                        min-width: 300px
            a
                img
                    transition: box-shadow 150ms ease-in

                &:hover
                    img
                        @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
                            box-shadow: var(--shadow-2)
        &__header
            display: flex
            flex-direction: column
            padding: var(--size-s)
            @include mixins.mq-small
                padding: var(--size-m)
        &__title
            margin-top: 0
        &__client
            order: -1
            font-size: 1.25em
            font-family: var(--type-family-3)
            color: var(--color-tertiary)
            line-height: 1
            margin: 0
        &__link
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                z-index: 1
            &:hover, &:focus
                img
                    box-shadow: var(--shadow-2)

        &__desc
            font-size: 0.75em

    &__inline
        display: flex
        flex-wrap: wrap
        gap: var(--size-s)
        list-style: none
        padding: 0
        margin-block: var(--size-s)
        &__item
            list-style: none

    &__lead
        font-size: 1.25em

    &__ratio
        &--1-1
            aspect-ratio: 1 / 1
        &--4-3
            aspect-ratio: 4 / 3
        &--16-10
            aspect-ratio: 16 / 10

    &__stats
        display: flex
        flex-wrap: wrap
        gap: var(--size-xs)
        list-style: none
        padding-left: 0
        li
            display: inline-block
            font-size: 0.75em
            padding: 0.25em 0.5em 0.125em 0.625em
            background-color: var(--color-neutral-4)
            color: var(--color-primary)
            width: fit-content
            border-radius: var(--radius-2)
            border: 1px solid var(--color-neutral-3)
