<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'components/head.njk' %}
    </head>
    <body data-pwd-hash="{{ site.password | base64 }}" data-page-type="{% if type == 'work' %}work{% elif page.url == '/projects/' %}projects{% else %}default{% endif %}" data-site-url="{{ site.url }}">
        <div id="top"></div>
        {{ content | safe }}
        {% include 'components/footer.njk' %}
        {% include 'components/modal.njk' %}
        {% include 'components/scripts.njk' %}
    </body>
</html>