@use "../vars"

.about
    &__skills
        @media (width >= vars.$media-small)
            display: flex
            flex-direction: row
            gap: var(--size-l)
        &__group
            @media (width >= vars.$media-small)
                flex: 1
            ul
                padding-inline-start: var(--size-m)
            li
                font-size: 0.825em
                &::marker
                    color: var(--color-tertiary)

        h4
            svg
                width: 44px
                height: 44px
                fill: var(--color-tertiary)
                margin-bottom: var(--size-xs)
            strong
                display: block

    &__reads
        ol
            white-space: nowrap
            overflow-x: auto
            flex-wrap: nowrap
            align-items: baseline
            padding: var(--size-s)
            text-align: center
            @media (width >= vars.$media-small)
                padding: var(--size-m)
            @media (width >= vars.$media-large)
                padding: var(--size-l)

            li
                display: inline-block

            img
                border-radius: var(--radius-1)
                @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
                    transition: box-shadow 150ms ease-in
                    box-shadow: var(--shadow-1)
                @media print
                    box-shadow: none

            a
                display: block
                &:hover
                    img
                        @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
                            box-shadow: var(--shadow-2)
    &__software
        li
            a
                display: inline-block
                line-height: 0
                background-color: var(--color-background)
                border-radius: var(--radius-2)
                padding: var(--size-s)
                box-shadow: var(--shadow-1)
                border: 1px solid var(--color-neutral-3)
                &:hover
                    box-shadow: var(--shadow-2)
                    svg
                        fill: var(--color-secondary)
                @media print
                    box-shadow: none

        svg
            transition: fill 150ms ease-in
            fill: var(--color-primary)
            height: 2rem

            @media (width >= vars.$media-small)
                height: 2.5rem

    &__hardware
        li + li
            margin-top: var(--size-xs)
