@use "../vars"
@use "../mixins"

.intro
    margin-top: var(--size-xl)

    &__avatar
        display: inline-block
        position: relative
        margin-block: 0
        left: calc(var(--size-s) * -1)
        @include mixins.mq-small
            left: calc(var(--size-l) * -1 - 0.125rem)

        svg
            fill: var(--color-tertiary)
            user-select: none
            width: min(360px, 100vw)
            height: auto
            animation: rotate 240s linear infinite
            @include mixins.mq-small
                width: 600px

        img
            width: 96px
            height: 143px
            @include mixins.mq-small
                padding: 0.5em
                width: 154px
                height: 230px

        &__ascii
            position: absolute
            top: 50%
            left: 50%
            z-index: -1
            transform: translate(-50%, -50%)
            @media print
                display: none

    &__logo
        font-size: 0.825em
        line-height: 0
        margin-bottom: var(--size-m)
        @include mixins.mq-small
            font-size: 1em
        svg
            fill: var(--color-secondary)
            width: 75%
            max-width: 400px
            filter: drop-shadow(var(--shadow-1))

    &__nav
        font-family: var(--type-family-1b)
        margin-bottom: var(--size-xl)
        ul
            display: flex
            row-gap: var(--size-xs)
            margin: 0
            padding-left: 0
            list-style: none
            flex-direction: column
            @include mixins.mq-small
                column-gap: var(--size-m)
                flex-direction: row
                flex-wrap: wrap

    &__nav-link
        &:hover,
        &:focus
            color: var(--color-tertiary)
        &--active
            color: var(--color-secondary)
            border-bottom: 1px solid currentColor

    &__emoji
        display: inline-block
        animation: hi 1s 1200ms

    &__text
        font-size: 1.25em

    &__company
        display: inline-block
        svg
            vertical-align: middle
            margin: -0.1em 0.125rem 0
            height: 0.8em
            width: auto
        &:hover,
        &:focus
            svg
                fill: var(--color-tertiary)
