@use "../mixins"
@use "../vars"

#work-content
    h3, h4
        text-transform: none

    a
        color: var(--color-secondary)

    .stats
        line-height: var(--type-height-2)
        @include mixins.mq-small
            display: flex

        p
            padding: var(--size-s)
            background-color: var(--color-neutral-4)
            border-radius: var(--radius-2)

            @include mixins.mq-small
                flex: auto
                margin-right: var(--size-s)
                &:last-of-type
                    margin-right: 0

        .title
            display: block
            font-family: var(--type-family-3)
            font-size: 1.25em
            opacity: 0.5

        .value
            font-family: var(--type-family-2)
            font-size: 2.25em

    .footnotes
        margin-top: var(--size-xl)
        border-top: 2px solid var(--color-neutral-3)

        p
            margin: 0
