---
layout: layouts/base
permalink: "/{{ page.fileSlug }}/index.html"
css:
  primary: '#fff'
  secondary: '#ffde33'
  tertiary: '#deba01'
  neutral1: 'rgba(255, 255, 255, 0.5)'
  neutral2: 'rgba(255, 255, 255, 0.25)'
  neutral3: 'rgba(255, 255, 255, 0.12)'
  neutral4: 'rgba(255, 255, 255, 0.06)'
  thumbnailHover: 'rgba(255, 255, 255, 0.12)'
  colorBackground: '#322abb'
---
{% include 'components/intro.njk' %}

<section id="about" class="about t__section">
    <div class="about__more">
        <div class="t__container">
            <h2>About me</h2>
            <p class="t__lead">In the ever-evolving digital design landscape, I found my passion for crafting meaningful experiences that bridge the gap between users and technology. My journey began with a deep-rooted curiosity for design and technology, leading me down a path where creativity meets functionality.</p>
            <p>As a product designer, I wear many hats - from envisioning sleek interfaces to delving into the intricacies of programming. Each project is an opportunity to weave my expertise in web standards with an innate sense of aesthetics, creating immersive experiences that captivate and inspire.</p>
            <p>Collaboration lies at the heart of my process. I thrive in dynamic environments where ideas flow freely, working closely with product teams to decipher business goals while keeping a keen eye on customer needs. Immersed in a world of constant innovation, I find solace in the meticulous nature of research, partnering with researchers to uncover insights that drive design decisions.</p>
            <p>Accessibility is not just a checkbox for me; it's a guiding principle that shapes every aspect of my work. I believe in creating inclusive designs catering to all users, ensuring every interaction is seamless and intuitive.</p>
            {% if skills %}
                <h3 class="t__typedivider">My skills</h3>
                <div class="about__skills">    
                    {% for skill in skills %}
                        <div class="about__skills__group">
                            <h4 class="h6">
                                {% include 'skills/' + skill.title | slug + '.svg' %}
                                <strong>{{ skill.title }}</strong>
                            </h4>
                            <ul>
                                {% for child in skill.body %}
                                    <li>{{ child }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if reads %}
        <div class="about__reads">
            <div class="t__container">
                <h3 class="t__typedivider">Favorite readings</h3>
                <p>My reading habits tend to ebb and flow. There are phases where I devour multiple books within a month, and then there are times when a single book captivates me for months. Here's a compilation of recommended reads from my literary journey:</p>
            </div>
            <ol class="t__inline">
                {% for read in reads %}
                    <li class="t__inline__item t__inline__item--1">
                        <a class="t__hover t__hover--2" href="{{ read.link | url }}" rel="noopener noreferrer nofollow" target="_blank" title="{{ read.title }} by {{ read.author}}">
                            {% book 'src/static/books/' + read.title | slug + '.jpg', read.title %}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
    {% if software %}
        <div class="about__software">
            <div class="t__container">
                <h3 class="t__typedivider">Software I use</h3>
                <p>These are the applications that seamlessly integrate into my daily routine, becoming indispensable tools I rely on day in and day out. They facilitate my productivity, creativity, and communication, allowing me to navigate various tasks with efficiency and finesse:</p>
                <ol class="t__inline">
                    {% for app in software %}
                        <li class="t__inline__item t__inline__item--1">
                            <a class="t__hover t__hover--2" href="{{ app.link | url }}" rel="noopener noreferrer nofollow" target="_blank" title="{{ app.title }}">
                                {% include 'software/' + app.title | slug + '.svg' %}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    {% endif %}
    {% if hardware %}
        <div class="about__hardware">
            <div class="t__container">
                <h3 class="t__typedivider">Hardware I use</h3>
                <p>Behold the arsenal of tools that form the backbone of my creative endeavors. These are the instruments that consistently accompany me in the pursuit of crafting excellence:</p>

                {% if hardware.professional %}
                <h4 class="h6">Professional</h4>
                <ul class="link-style">
                    {% for gadget in hardware.professional %}
                        <li>
                            <a href="{{ gadget.link | url }}" rel="noopener noreferrer nofollow" target="_blank">{{ gadget.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if hardware.entertainment %}
                <h4 class="h6">Entertainment</h4>
                <ul class="link-style">
                    {% for gadget in hardware.entertainment %}
                        <li>
                            <a href="{{ gadget.link | url }}" rel="noopener noreferrer nofollow" target="_blank">{{ gadget.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
        </div>
    {% endif %}
    <div class="about__website">
        <div class="t__container">
            <h3 class="t__typedivider">About this website</h3>
            <ul class="link-style">
                <li>Uses a several typefaces:
                    <ul class="link-style">
                        <li><a href="https://processtypefoundry.com/fonts/colfax/" rel="noopener noreferrer nofollow" target="_blank">Colfax</a> and <a href="https://processtypefoundry.com/fonts/klavika-display/" rel="noopener noreferrer nofollow" target="_blank">Klavika Display</a> by Process Type Foundry.</li>
                        <li><a href="https://fonts.google.com/specimen/Caveat#about" rel="noopener noreferrer nofollow" target="_blank">Caveat</a> by Impallari Type.</li>
                    </ul>
                </li>
                <li>This page scores ~90 of 100 on <a href="https://pagespeed.web.dev/report?url=https%3A%2F%2Fhoroman.com%2F" rel="noopener noreferrer nofollow" target="_blank">PageSpeed Insights</a>.</li>
                <li>The theme of this website dynamically adjusts in response to your operating system's colour scheme.</li>
                <li>Powered by <a href="https://11ty.dev" rel="noopener noreferrer nofollow" target="_blank">11ty</a> as static site generator, JavaScript, SASS and Nunjucks.</li>
                <li>Hosted using <a href="https://pages.github.com" rel="noopener noreferrer nofollow" target="_blank">GitHub Pages</a> and <a href="https://github.com/features/actions" rel="noopener noreferrer nofollow" target="_blank">GitHub Actions</a>.</li>
                <li><a href="https://www.simpleanalytics.com/?referral=vasuc" rel="noopener noreferrer nofollow" target="_blank">Simple Analytics</a> is used as analytics platform.</li>
                <li>Current site version is {{ site.version }}.</li>
            </ul>
        </div>
    </div>
</section>

{% include 'components/contact.njk' %}
